.draggable-div {
  &.dragging {
    // height: 20px !important;
    opacity: 0 !important;
    cursor: grabbing !important;
    // position: fixed !important;
    // display: none;

    &:active {
      cursor: grabbing !important;
    }
  }
}
