@import "styles/constants.scss";

.custom-prompt-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  pointer-events: none;
  background: transparent;
  transition: 0.3s ease;

  &.visible {
    pointer-events: all;
    // background: rgba(0, 0, 0, 0.212);
    // backdrop-filter: blur(3px);

    .custom-prompt {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

.custom-prompt {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 2001;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.201);
  border-radius: 3px;
  overflow: hidden;
  padding: 25px 30px;
  min-width: 360px;
  color: rgb(169, 188, 217);

  opacity: 0;
  transform: translateX(-50%) translateY(-30px) scale(0.95);
  visibility: hidden;
  transition: 0.3s ease;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.448);

  .title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    // font-weight: 900;
    color: rgb(141, 161, 188);

    .content {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .inputs {
    margin-top: 12px;
    opacity: inherit;

    input {
      border: 1px solid rgb(56, 67, 83);
      background-color: rgb(15, 18, 21);
      border-radius: 5px;
      width: 100%;
      padding: 5px 8px;
      box-sizing: border-box;
      transition: 0.3s ease;
      color: white;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:focus {
        border: 1px solid rgb(107, 130, 164);
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .button {
      background: rgb(30, 31, 38);
      padding: 7px 14px;
      border-radius: 3px;
      font-size: 15px;
      cursor: pointer;
      transition: 0.2s ease;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        background: rgb(50, 53, 63);
      }

      &.confirm {
        background: rgb(51, 74, 132);
        color: rgb(187, 201, 221);

        &:hover {
          background: rgb(61, 103, 187);
        }
      }
    }
  }
}
