$main-theme-color: #0c0d0e; // top bar
$main-bg-color: #181818;
$left-sidebar-color: #23252a;

$std-btn-color: rgb(75, 84, 99);
$std-btn-label-color: rgb(105, 116, 137);

$std-color: rgb(131, 145, 171);
$highlight-color: rgb(93, 152, 255);

// calendar view
$saturday-color: rgb(95, 149, 255);
$sunday-color: rgb(255, 110, 110);

// list view
$task-title-color: rgb(181, 197, 219);

$left-sidebar-width: 240px;

$ease-out-elastic: cubic-bezier(0, 0.99, 0.57, 1.22);

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-45px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
