.modal-content.settings {
  width: calc(100% - 500px);
  height: calc(100% - 300px);

  .title {
    font-size: 25px;
    //font-weight: bold;
  }

  .content {
    display: flex;
    flex: 1;
    margin-top: 45px;

    .menu {
      display: flex;
      flex-direction: column;
      width: 180px;
      margin-right: 30px;

      .menu-item {
        display: flex;
        padding: 8px 12px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 3px;
        align-items: center;
        color: #889aad;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &:hover {
          background-color: rgb(52, 66, 92);
        }

        &.selected {
          background-color: rgb(52, 88, 161);
          color: white;
        }

        .icon {
          display: flex;
          align-items: center;
          margin-right: 8px;
        }
      }
    }

    .menu-content {
      display: flex;
      flex-direction: column;
      flex: 1;

      & > .settings {
        display: flex;
        flex-direction: column;

        .setting-item {
          display: flex;
          flex-direction: column;
          color: #9aa9bd;

          & > .head {
            display: flex;

            & > .label {
              font-size: 14px;
              color: white;
              //font-weight: bold;
            }
          }

          & > .body {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            .controller {
              display: flex;
              margin: 5px 0;
              align-items: center;
              justify-content: space-between;

              .description {
                font-size: 12px;
                color: #828e9f;
              }

              button {
                background-color: #33363a;
                color: #a8a8a8;
                padding: 5px 12px;
                border-radius: 5px;
                margin: 0;
                border: none;
                cursor: pointer;
                transition: 0.15s linear;

                &:hover {
                  background-color: #12509d;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
