.task-view.list {
  min-width: 500px;

  @media screen and (max-width: 1300px) {
    .todo-item {
      .remain-time {
        margin-right: 0 !important;
      }

      .subtask-progress-bar-wrapper {
        display: none;
      }
    }
  }

  & > .todo-item-groups {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    & > .todo-item-group {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      & > .title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        opacity: 0.7;
      }

      & > .todo-list {
      }
    }
  }
}
