.task-list-calendar-view {
  display: flex;
  flex: 1;
  overflow: hidden;

  @media screen and (max-width: 2000px) {
    flex-direction: column-reverse;
    .view-segment.calendar {
      margin-bottom: 30px;
    }
  }

  .view-segment {
    flex: 1;
  }

  .split-line {
    width: 1px;
    margin: 0 20px;
    background-color: #2a333d;
  }
}