@import "styles/constants.scss";

.todo-item-wrapper {
  display: flex;
  flex-direction: column;

  border-radius: 3px;
  // overflow: hidden;
  border: 2px solid transparent;
  transition: 0.2s ease;
  box-sizing: border-box;

  $todo-item-color: rgb(39, 41, 45);
  $todo-item-process-color: rgb(63, 84, 122);
  $todo-item-hover-color: rgb(44, 52, 67);

  $todo-item-expandable-color: rgb(21, 21, 23);

  position: relative;
  background-color: $todo-item-color;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.done {
    opacity: 0.5;
  }

  &:hover {
    opacity: 1;

    .delete-button {
      opacity: 0.5;
    }

    .todo-item {
      background-color: $todo-item-hover-color;
    }
  }

  &.selected {
    border: 2px solid rgb(52, 90, 166);
    opacity: 1;
  }

  &.overdue {
    & > div > .todo-item {
      & > .title {
        color: rgb(211, 84, 84) !important;
      }
      & > .due-date {
        color: rgb(187, 78, 78) !important;
      }
    }
    & > div > .expandable-options {
      .progress-bar-inner {
        background-color: rgb(79, 36, 36) !important;
      }
    }
  }

  & > div {
    & > .delete-button {
      position: absolute;
      left: 100%;
      top: 0;
      // width: 10px;
      // height: 10px;
      transform: translate(-50%, -50%) scale(0.8);
      background-color: rgb(166, 31, 31);
      opacity: 0;
      z-index: 10;
      color: white;
      cursor: pointer;
      font-size: 12px;
      border-radius: 50%;
      padding: 3px;
      transition: 0.2s;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
      }
    }

    & > .todo-item {
      display: flex;
      height: 50px;
      align-items: center;

      padding: 0 25px;
      transition: 0.1s;
      position: relative;
      overflow: hidden;
      z-index: 1;

      user-select: none;

      & > .title {
        flex: 1;
      }

      & > .process-rate {
        // position: absolute;
        // left: 0;
        // top: 0;
        // width: 100%;
        background-color: black;
        width: 200px;
        height: 10px;
        margin-right: 30px;
        // z-index: -1;

        & > .process-rate-bar {
          background-color: $todo-item-process-color;
          // width: 10px;
          height: 100%;
        }
      }

      & > .due-date {
        min-width: 90px;
        text-align: center;
        font-size: 13px;
        color: rgb(66, 81, 106);
        transition: 0.15s linear;
        margin-right: 5px;

        &.active {
          color: rgb(91, 136, 220);
        }
      }
    }

    & > .expandable-options {
      background: $todo-item-expandable-color;
      overflow: hidden;

      & > .options-wrapper {
        display: flex;
        flex-direction: column;
        padding: 15px 25px;
        height: 100%;

        & > .section {
          display: flex;
          align-items: center;
        }

        & > .metadata {
          border-bottom: 1px solid rgba(110, 130, 159, 0.318);
          padding-bottom: 10px;

          & > .title {
            font-size: 25px;
            font-weight: 700;
            flex: 1;
            margin-right: 15px;
          }

          & > .options {
            display: flex;
            align-items: center;

            .icon-wrapper {
              display: flex;
              align-items: center;
              font-size: 20px;
            }
          }
        }

        & > .summary {
          display: flex;
          // flex-direction: column;
          margin-top: 15px;
          margin-bottom: 5px;

          & > .category-tags {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            width: 100%;

            $adder-color: rgb(115, 130, 169);
            $default-color: rgb(107, 136, 207);
            $highlight-color: rgb(239, 78, 72);

            .card {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px 8px;
              border: 1px solid $default-color;
              color: $default-color;
              font-size: 12px;
              border-radius: 3px;
              cursor: pointer;
              transition: 0.2s ease;

              &:hover {
                border: 1px solid $highlight-color;
                color: $highlight-color;
              }

              &:not(:last-child) {
                margin-right: 10px;
              }
            }

            & > .category-adder-wrapper {
              transition: 0.2s ease;

              &.hide {
                opacity: 0;
                width: 0;
                height: 0;
                transform: scale(0);
                overflow: hidden;
              }

              .category-adder {
                color: $adder-color;
                border: 1px solid $adder-color;
                opacity: 0.5;

                &:hover {
                  opacity: 1;
                }
              }
            }

            .category-tag-options {
              padding: 0;
              min-width: 180px;

              & > .category-option {
                width: 100%;
                padding: 12px 18px;
                box-sizing: border-box;
                font-size: 15px;
              }
            }
          }

          & > .remain-time {
            display: flex;
            align-items: flex-end;

            & > * {
              white-space: nowrap;
            }

            .label {
              font-size: 12px;
              margin-right: 8px;
              color: rgb(76, 88, 110);
            }

            .value {
              font-size: 20px;
              color: rgb(105, 118, 146);

              &.active {
                color: rgb(77, 117, 204);
              }
            }
          }
        }

        & > .sub-tasks-wrapper {
          display: flex;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          // align-items: stretch;

          .left-section {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
            justify-content: flex-start;
          }

          .sub-tasks {
            display: flex;
            // flex: 1;
            // height: 100%;

            .sub-task {
              margin-bottom: 10px;
            }

            & > .sub-task-dependency-graph {
              display: flex;
              flex-direction: column;
              width: 30px;
              height: 100%;

              & > .dependency-node {
                display: flex;
                height: 36px;
                position: relative;

                &:not(:last-child) {
                  margin-bottom: 10px;
                }

                &.fulfilled {
                  & > .grabber:hover {
                    .circle {
                      box-shadow: 0 0 8px 1px rgb(56, 206, 146) !important;
                    }
                  }
                  .circle {
                    width: 100%;
                    height: 100%;
                    border: 1px solid rgb(56, 206, 146) !important;
                    background: rgb(56, 206, 146) !important;
                  }
                }

                & > .grabber {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);

                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                  cursor: pointer;

                  &:hover {
                    & > .circle {
                      width: 100%;
                      height: 100%;
                      background: rgb(183, 213, 255);
                    }
                  }

                  & > .circle {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 8px;
                    height: 8px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    border: 1px solid rgb(154, 196, 255);
                    transition: 0.2s ease;
                  }
                }
              }
            }

            & > .sub-task-list {
              display: flex;
              flex-direction: column;
              flex: 1;

              & > *:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }

          .sub-task {
            display: flex;
            background-color: rgb(31, 37, 45);
            padding: 8px 15px;
            font-size: 15px;
            border-radius: 2px;
            height: 36px;
            box-sizing: border-box;
            align-items: center;
            position: relative;

            &:hover {
              & > .delete-button {
                opacity: 0.5;
              }
            }

            & > .delete-button {
              position: absolute;
              left: 100%;
              top: 0;
              // width: 10px;
              // height: 10px;
              transform: translate(-50%, -50%) scale(0.8);
              background-color: rgb(166, 31, 31);
              opacity: 0;
              z-index: 11;
              color: white;
              cursor: pointer;
              font-size: 12px;
              border-radius: 50%;
              padding: 3px;
              transition: 0.2s;

              &:hover {
                transform: translate(-50%, -50%) scale(1.1);
                opacity: 1;
              }
            }

            & > .sub-task-title {
              flex: 1;
              margin-right: 15px;

              input {
                width: 100%;
              }
            }
          }

          .sub-task-add-section {
            display: flex;
            width: 100%;

            &.hidden {
              .subtask-options {
                opacity: 0;
                visibility: hidden;
              }
            }

            input {
              width: 100%;
              padding: 3px 0;
            }

            & > .subtask-options {
              display: flex;
              transition: 0.2s ease;

              & > .option {
                cursor: pointer;
              }
            }
          }

          .right-section {
            height: 100%;

            & > .memo {
              display: flex;
              width: 400px;
              height: 100%;
              margin-left: 20px;
              // align-items: stretch;

              textarea {
                width: 100%;
                height: 100%;
                background-color: rgb(32, 37, 46);
                color: rgb(135, 160, 198);
                resize: none;
                padding: 10px;
                box-sizing: border-box;
                min-height: 120px;
                border-radius: 3px;
                // font-weight: 100;
              }
            }
          }
        }
      }
    }
  }
}
